.employee {
	padding: 10px 10px 10px 10px;
	margin: 10px 0px 10px 30px;
	display: inline-block;
	border-radius: 22px 22px 22px 22px;
		-moz-border-radius: 22px 22px 22px 22px;
		-webkit-border-radius: 22px 22px 22px 22px;
		border: 2px solid #353435;
	width: 30%;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.employee:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.image {
	margin-left: 30px;
	float: left;
}
.data {
	background-color: white;
	display: inline-block;
	padding-left: 50px;
	font-size: 1.3em;

}

.name {
	background-color: white;
	font-weight: bold;
}

.email,
.city,
.username {
	color: gray;
	background-color: white;
}

.city {
	font-size: 1.2rem;
}


.modal img,
.modal-title, 
.model-content {
	margin: 0% 30% 10% 30%;
	text-align: center;
	
}

#title {
	text-align: center;
}

#selectbasic {
	display: inline-block;
}

#searchButton {
	display: inline-block;
}

input {
	display: inline-block;
}
/* ----------- 13inch Macbook pro ----------- */
@media (max-device-width: 1024px){ 

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  	.data {
		font-size: 1.5rem;
}
.name {
	font-size: 1.5rem;
}
.city {
	font-size: 1.5rem;
}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}